.bgimage {
    background-image: url('https://www.bunko.pet/__export/1612206169398/sites/debate/img/2021/02/01/cxmo_entrenar_a_un_golden_retriever_desde_cachorro_hasta_adulto_crop1612206122324.jpeg_1902800913.jpeg');
      /* Add the blur effect */
      filter: blur(8px);
      -webkit-filter: blur(8px);
    background-size:cover;
    background-attachment: fixed;
  
  }
  